*{
	box-sizing: border-box;
}
.circle {
  shape-outside: circle(50%);
  width: 200px;
  height: 200px;
  float: left;
}

.zoom-effect-container {
    float: left;
    position: relative;
    width: 100vw;
    height: 500px;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 100px;
}

.image-card {
	
  position: absolute;
  top: 0;
  left: 15%;
  
}

.image-card img {
  transition: 0.4s ease;
}

.zoom-effect-container:hover .image-card img {
  transform: scale(1.1);
}
