body {
  height: calc(100vh - 40px);
  margin: 20px;
  background: #f2f2f2;
}

h3 {
  text-align: center;
  font-family: Courier !important;
  font-weight: 700;
}

.sesame-seed {
  position: absolute;
  background: #ffe3ca;
  height: 8px;
  width: 20px;
  border-radius: 100%;
}
.sesame-seed.one {
  transform: rotate(-10deg);
  top: 10px;
  left: 30%;
}
.sesame-seed.two {
  transform: rotate(8deg);
  left: 45%;
  top: 20px;
}
.sesame-seed.three {
  transform: rotate(4deg);
  left: 60%;
  top: 10px;
}

.burger {
  position: relative;
  margin: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 200px;
}
.burger .bun {
  height: 80px;
  width: 180px;
  border-radius: 100px 100px 0 0;
  background: #f4a864;
}
.burger .bun.bottom {
  border-radius: 0 0 100px 100px;
}
.burger .cosmic-fill {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: url(https://res.cloudinary.com/ddbxzcb7k/image/upload/v1564751401/fill-01_vgkaj7.svg);
  background-repeat: round;
}